<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reddit</title>
    <style>
        * {
            --primary-color: rgb(189, 128, 125);
            --title-size: 72px;
            font-family: Source Code Pro, Consolas, Hack;
        }

        .nav-bar {
            position: sticky;
            top: 0;
            padding: 0.25%;
            width: 100%;
            background: var(--primary-color);
        }

        .title {
            text-size: var(--title-size);
        }
    </style>
</head>
<body>
    <nav class="nav-bar">
        <h1 class="title">Reddit</h1>
    </nav>
</body>
</html>